@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --colour-dark-orange: #d87d4a;
  --colour-light-orange: #fbaf85;
  --colour-light-black: #101010;
  --colour-black: #000000;
  --colour-white: #ffffff;
  --colour-dark-grey: #f1f1f1;
  --colour-light-grey: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Manrope", "Arial", "sans-serif";
  line-height: 1.75rem;
}

/* Common styles between pages for different elements. */
.h1 {
  @apply font-bold text-[3.5rem] tracking-[0.125em] uppercase;
}

.h2 {
  @apply font-bold text-[2.5rem] tracking-[0.094em] uppercase;
}

.h3 {
  @apply font-bold text-[2rem] tracking-[0.072em] uppercase;
}

.h4 {
  @apply font-bold text-[0.125rem] tracking-[0.125em] uppercase;
}

.h5 {
  @apply font-bold text-2xl tracking-[0.106em] uppercase;
}

.h6 {
  @apply font-bold text-lg tracking-[0.081em] uppercase;
}

.subtitle {
  @apply font-bold text-[0.813rem] tracking-[0.063em] uppercase;
}
